#myCanvas {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  display: block;
  background-image: url("vectors/farmBackground.jpg");
  background-size: cover;
}

#container {
  position: relative;
}

#startButton {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#animalsContainer {
  background-color: white;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#animalsContainer img {
  width: 200px;
  height: 200px;
}
#lamb {
  transform: scale(1.4);
}

#chicken {
  margin-left: 20px;
  transform: scale(1.1);
  margin-top: 30px;
}

#lamb {
  margin-right: 40px;
}
#pig {
  margin-right: 0px;
}
