#myCanvas {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  display: block;
  background-image: url("../vectors/farmBackground.jpg");
  background-size: cover;
}

#container {
  position: relative;
}

#startButton {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  background-color: rgb(250, 155, 72);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

#animalsContainer {
  background-color: white;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#animalsContainer img {
  width: 200px;
}
#lamb {
  transform: scale(1.4);
  margin-right: 40px;
}

#chicken {
  transform: scale(0.8);

  margin-left: 15px;
}

#pig {
  margin-right: 0px;
}

#chooseAnimal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
